{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
    ],

    "plugins": [
        [
            "@bable/plugin-transform-runtime",
            {
                "regenerator" : true
            }
        ]
    ]
}